Post Name: <%=@post.name%><br>
Post Content: <%=@post.content%><br>



<form action="/posts/<%=@post.id%>/delete" method='post'>
<input type="hidden" value="delete" name="hidden" id="hidden">
<input type="submit" value="delete"> <!-- value case sensitive for rspec, lowercase this time lol, wait needs a button -->
</form>
